html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
    color: white;
}

body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(166,166,166,1) 100%);
}

#container{
    margin: 5rem 10rem 5rem 10rem;
}

.flex-column:not(.info-box){
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* form, input, search button, unit selector */
form{
    width: 100%;
}

#city{
    border: none;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 3rem;
    width: 50%;
    min-width: 36rem;
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 15px;
    color: white;
    font-family: 'Outfit';
}

#city:hover{
    transition: background 0.3s;
    background: hsla(0, 0%, 100%, 0.2);
}

::placeholder{
    color: white;
}

#search{
    border: none;
    cursor: pointer;
    width: 12rem;
    height: 6rem;
    border-radius: 15px;
    font-size: 3rem;
    background-color: transparent;
    font-family: 'Outfit';
    color: white;
}

#search:hover{
    transition: background 0.3s;
    background: hsla(0, 0%, 100%, 0.2);
}

.radio{
    display: none;
}

.radio-label{
    font-size: 2rem;
    cursor: pointer;
    padding: 8px 20px;
    transition: background 0.3s;
    border-radius: 15px;
    margin-right: 2rem;
}

.radio:checked + .radio-label{
    background: hsla(0, 0%, 100%, 0.5);
}

#paragraph{
    font-size: 2rem;
}

/* info */
.info-box{
    display: flex;
    flex-direction: column;
}

.info-box > *{
    min-width: 40rem;
    margin: 0;
}

#temperature{
    font-size: 15rem;
}

#location{
    font-size: 6rem;
}

#date, #time{
    font-size: 4rem;
}

.side{
    width: fit-content;
}

.side > p{
    font-size: 3rem;
}

.space-between{
    justify-content: space-between;
}

/* media query */
@media(max-width: 500px){
    #container{
        margin: 5rem 2rem 5rem 2rem;
    }

    #city{
        min-width: 30rem;
    }

    .info-box > *{
        scale: 0.5;
        /* align-self: flex-start;
        justify-self: flex-start; */
    }
}